In [2]:
import pandas as pd

# Example DataFrame
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}
df = pd.DataFrame(data)

# Apply a function to each column
df_column_sum = df.apply(str, axis=0)

# Apply a function to each row
df_row_sum = df.apply(str, axis=1)

print(df_column_sum)
print(df_row_sum)

A    0    1\n1    2\n2    3\nName: A, dtype: int64
B    0    4\n1    5\n2    6\nName: B, dtype: int64
dtype: object
0    A    1\nB    4\nName: 0, dtype: int64
1    A    2\nB    5\nName: 1, dtype: int64
2    A    3\nB    6\nName: 2, dtype: int64
dtype: object

In [7]:
3 in df.A.values

True

In [10]:
df.apply(sum)

A     6
B    15
dtype: int64

In [11]:
df.map(lambda x: x + 1)

   A  B
0  2  5
1  3  6
2  4  7

In [16]:
type(df.loc[0])

pandas.core.series.Series

In [17]:
type(df.A)

pandas.core.series.Series

In [ ]:
df.map()

0    2
1    3
2    4
Name: A, dtype: int64

In [2]:
cols = ["A","B","C","D","A"]

In [6]:
import pandas as pd

df = pd.DataFrame(columns=cols)


df

Empty DataFrame
Columns: [A, B, C, D, A]
Index: []

In [7]:
df.loc[0] = (1,2,3,4,5)

In [ ]:
df["A"] = 15

    A  B  C  D   A
0  15  2  3  4  15

In [10]:
df.loc[0]

A    15
B     2
C     3
D     4
A    15
Name: 0, dtype: int64